*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.counting{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

body h1{
    font-size: 60px;
}

.counting{
    display: flex;
    align-items: center;
}

.counting button{
    border: 0px;
    cursor: pointer;
    font-size: 90px;
    height: 100px;
    width: 100px;
}

.nol{
    background-color: orange;
    border: 0px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 30px;
    height: 70px;
    width: 300px;
}
.minus{
    background-color: red;
    border-radius: 20px;
}

.plus{
    background-color: rgb(0, 255, 0);
    border-radius: 20px;
}

.savol-javob{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topshiriq-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topshiriq-2 h1{
    font-size: 50px;
}
.savol{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.savol button{
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    height: 80px;
}

.savol button{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.javobb{
    background-color: antiquewhite;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 3%;
}

.javobb p{
    padding: 20px;
}